# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.jenkins-external
10th-AVD/modules/networkwatcher/.terraform/providers/registry.terraform.io/hashicorp/azuread/2.36.0/windows_amd64/terraform-provider-azuread_v2.36.0_x5.exe
10th-AVD/modules/networkwatcher/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.48.0/windows_amd64/terraform-provider-azurerm_v3.48.0_x5.exe
10th-AVD/modules/networkwatcher/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/windows_amd64/terraform-provider-random_v3.4.3_x5.exe
10th-AVD/modules/networkwatcher/.terraform/providers/registry.terraform.io/hashicorp/time/0.9.1/windows_amd64/terraform-provider-time_v0.9.1_x5.exe
